<div class="row">
  <div class="col-sm-12">
      <div class="card mt-3 mb-5 border-light">
          <div class="card-header bg-light">
            <h1 class="card-title"><%= link_to article.title, article_path(article) %></h1>
          </div>
          <div class="card-body">
            <p class="card-text"><%= @markdown.render(article.body).html_safe %></p>
          </div>
          <div class="card-footer">
              <% if user_signed_in? && article.user_id == current_user.id %>
                <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-outline-warning btn-sm' %>
                <%= link_to 'Delete', article_path(article), 
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete '#{article.title}'?" },  
                    class: 'btn btn-outline-danger btn-sm' %> 
              <% end %>
            <p class="badge badge-primary">views: <%= article.impressionist_count %></p>
            <p class="badge badge-info">created <%= time_ago_in_words(article.created_at) %> ago</p>
            <p class="badge badge-info">created by: <%= article.user.email %></p>
            <p>Tags:</p>
            <% article.tag_list.each do |tag| %>
            <p class="badge badge-secondary"><%= tag %></p>
            <% end %>
          </div>
      </div>
  </div>
</div>