<!DOCTYPE html>
<html>
  <head>
    <title>Mark's Awesome Blog on Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #ffa547">
      <a class="navbar-brand" href="#">m'Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Home', articles_path, class: 'nav-link' %>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Create new post', new_article_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_path %>">Log In</a>
          </li>
          <% end %>
        </ul>
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
        <form class="form-inline">
          <%= form_tag articles_path, method: "get", id: "search-form", class: "form-inline" %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Posts", class: "form-control mr-sm-2", type: "search" %>
          <%= submit_tag "Search", class: "btn btn-outline-primary my-2 my-sm-0" %>
        </form>
      </div>
    </nav>
    <% if controller_name != 'articles' %>
    <div class="container-fluid mt-5 py-5">
    <% end %>
      <%= yield %>
    </div>
  <nav class="navbar navbar-expand-md fixed-bottom navbar-dark" style="background-color: #ffa547">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/maktubhelou"><%= fa_stacked_icon "facebook", base: "circle", text: "facebook" %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/maktubhelou/"><%= fa_stacked_icon "instagram", base: "circle", text: "instagram" %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://medium.com/@maktubhelou"><%= fa_stacked_icon "medium", base: "circle", text: "medium" %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/markallanevans/"><%= fa_stacked_icon "linkedin", base: "circle", text: "linkedIn" %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:markallanevans@gmail.com"><%= fa_stacked_icon "envelope", base: "circle", text: "e-mail" %></a>
      </li>
    </ul>
    <span class="navbar-text">
      &copy; Mark Evans 2018
    </span>
  </div>
</nav>
  </body>
</html>
